#LR_4

*.txt

#*.a - ігнорувати всі файли .a;
#!lib.a - проте відстежувати lib.a, хоч ми й ігноруємо .a файли вищe;
#/TODO - iгнорувати файл TODO тільки в поточній теці, не в інших теках
#subdir/TODO;
#build/ - iгнорувати усі файли в теці build/;
#doc/*.txt - iгнорувати doc/notes.txt, проте не doc/server/arch.txt;
#doc/**/*.pdf - Ігнорувати усі .pdf файли в теці doc/ та всіх її підтеках;

